# dependencies
/node_modules

# Next.js build output
/.next
/out

# local environment files
.env*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# editors and operating systems
.idea/
.vscode/*
.DS_Store
Thumbs.db
*.swp

# logs
*.log
npm-debug.log*

# Vercel
.vercel
