{
	admin off
	auto_https off
	persist_config off
	storage file_system {
		root /tmp/caddy
	}
}

http://{$PUBLIC_HOST}, http://{$ADMIN_HOST} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	@api path /api/*
	reverse_proxy @api api:8080

	reverse_proxy web:8080
}
